<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-colorpicker/docs/assets/main.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.min.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-datepicker/docs/_screenshots/script/common.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-datepicker/tests/assets/qunit.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-daterangepicker/website/website.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap-slider/slider.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/contents.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/autocomplete/skins/default.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/balloonpanel/skins/kama/balloonpanel.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/balloonpanel/skins/moono-lisa/balloonpanel.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/balloonpanel/skins/moono/balloonpanel.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/balloontoolbar/skins/default.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/balloontoolbar/skins/kama/balloontoolbar.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/balloontoolbar/skins/moono-lisa/balloontoolbar.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/balloontoolbar/skins/moono/balloontoolbar.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/arta.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/ascetic.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-dune.dark.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-dune.light.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-forest.dark.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-forest.light.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-heath.dark.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-heath.light.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-lakeside.dark.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-lakeside.light.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-seaside.dark.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-seaside.light.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/brown_paper.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/dark.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/docco.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/far.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/foundation.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/github.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/googlecode.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/idea.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/ir_black.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/magula.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/mono-blue.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/obsidian.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/paraiso.dark.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/paraiso.light.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/pojoaque.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/railscasts.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/rainbow.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/school_book.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/solarized_dark.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/solarized_light.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/sunburst.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow-night-blue.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow-night-bright.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow-night-eighties.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow-night.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/vs.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/xcode.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/codesnippet/lib/highlight/styles/zenburn.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/colordialog/dialogs/colordialog.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/copyformatting/styles/copyformatting.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/easyimage/styles/easyimage.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/emoji/skins/default.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/imagebase/styles/imagebase.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/scayt/dialogs/dialog.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/scayt/dialogs/toolbar.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/scayt/skins/moono-lisa/scayt.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/tableselection/styles/tableselection.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/templates/dialogs/templates.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/uicolor/dialogs/uicolor.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/wsc/dialogs/wsc.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/plugins/wsc/skins/moono-lisa/wsc.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/samples/css/samples.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/samples/old/assets/outputxhtml/outputxhtml.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/samples/old/sample.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/samples/old/stylesheetparser/assets/sample.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/samples/toolbarconfigurator/css/fontello.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/samples/toolbarconfigurator/lib/codemirror/codemirror.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/samples/toolbarconfigurator/lib/codemirror/show-hint.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/kama/dialog_ie.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/kama/dialog_ie7.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/kama/dialog_ie8.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/kama/dialog_iequirks.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/kama/dialog.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/kama/editor_ie.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/kama/editor_ie7.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/kama/editor_ie8.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/kama/editor_iequirks.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/kama/editor.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono-lisa/dialog_ie.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono-lisa/dialog_ie8.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono-lisa/dialog_iequirks.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono-lisa/dialog.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono-lisa/editor_gecko.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono-lisa/editor_ie.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono-lisa/editor_ie8.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono-lisa/editor_iequirks.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono-lisa/editor.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono/dialog_ie.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono/dialog_ie7.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono/dialog_ie8.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono/dialog_iequirks.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono/dialog.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono/editor_gecko.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono/editor_ie.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono/editor_ie7.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono/editor_ie8.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono/editor_iequirks.css">
    <link rel="stylesheet" href="/styles/bower_components/ckeditor/skins/moono/editor.css">
    <link rel="stylesheet" href="/styles/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/styles/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bower_components/Flot/examples/examples.css">
    <link rel="stylesheet" href="/styles/bower_components/Flot/examples/shared/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/bower_components/fullcalendar/dist/fullcalendar.css">
    <link rel="stylesheet" href="/styles/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="/styles/bower_components/fullcalendar/dist/fullcalendar.print.css">
    <link rel="stylesheet" href="/styles/bower_components/fullcalendar/dist/fullcalendar.print.min.css">
    <link rel="stylesheet" href="/styles/bower_components/ion.rangeSlider/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="/styles/bower_components/ion.rangeSlider/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="/styles/bower_components/Ionicons/css/ionicons.css">
    <link rel="stylesheet" href="/styles/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-slimscroll/examples/libs/prettify/prettify.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-slimscroll/examples/style.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/accordion.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/all.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/autocomplete.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/base.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/button.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/core.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/datepicker.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/dialog.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/draggable.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/menu.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/progressbar.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/resizable.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/selectable.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/selectmenu.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/slider.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/sortable.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/spinner.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/tabs.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/base/tooltip.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/black-tie/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/black-tie/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/black-tie/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/blitzer/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/blitzer/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/blitzer/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/cupertino/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/cupertino/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/cupertino/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/dark-hive/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/dark-hive/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/dark-hive/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/dot-luv/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/dot-luv/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/dot-luv/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/eggplant/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/eggplant/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/eggplant/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/excite-bike/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/excite-bike/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/excite-bike/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/flick/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/flick/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/flick/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/hot-sneaks/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/hot-sneaks/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/hot-sneaks/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/humanity/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/humanity/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/humanity/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/le-frog/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/le-frog/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/le-frog/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/mint-choc/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/mint-choc/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/mint-choc/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/overcast/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/overcast/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/overcast/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/pepper-grinder/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/pepper-grinder/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/pepper-grinder/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/redmond/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/redmond/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/smoothness/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/south-street/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/south-street/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/south-street/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/start/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/start/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/start/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/sunny/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/sunny/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/sunny/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/swanky-purse/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/swanky-purse/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/swanky-purse/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/trontastic/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/trontastic/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/trontastic/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/ui-darkness/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/ui-darkness/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/ui-darkness/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/ui-lightness/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/vader/jquery-ui.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/vader/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/bower_components/jquery-ui/themes/vader/theme.css">
    <link rel="stylesheet" href="/styles/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/styles/bower_components/mocha/mocha.css">
    <link rel="stylesheet" href="/styles/bower_components/morris.js/examples/lib/example.css">
    <link rel="stylesheet" href="/styles/bower_components/morris.js/morris.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-barber-shop.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-big-counter.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-bounce.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-center-atom.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-center-circle.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-center-radar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-center-simple.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-corner-indicator.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-fill-left.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-flash.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-flat-top.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-loading-bar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-mac-osx.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/black/pace-theme-minimal.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-barber-shop.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-big-counter.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-bounce.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-center-atom.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-center-circle.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-center-radar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-center-simple.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-corner-indicator.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-fill-left.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-flash.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-flat-top.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-loading-bar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-mac-osx.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/blue/pace-theme-minimal.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-barber-shop.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-big-counter.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-bounce.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-center-atom.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-center-circle.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-center-radar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-center-simple.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-corner-indicator.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-fill-left.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-flash.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-flat-top.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-loading-bar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-mac-osx.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/green/pace-theme-minimal.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-barber-shop.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-big-counter.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-bounce.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-center-atom.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-center-circle.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-center-radar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-center-simple.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-corner-indicator.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-fill-left.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-flash.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-flat-top.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-loading-bar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-mac-osx.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/orange/pace-theme-minimal.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-barber-shop.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-big-counter.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-bounce.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-center-atom.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-center-circle.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-center-radar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-center-simple.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-corner-indicator.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-fill-left.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-flash.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-flat-top.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-loading-bar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-mac-osx.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/pink/pace-theme-minimal.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-barber-shop.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-big-counter.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-bounce.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-center-atom.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-center-circle.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-center-radar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-center-simple.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-corner-indicator.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-fill-left.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-flash.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-flat-top.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-loading-bar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-mac-osx.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/purple/pace-theme-minimal.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-barber-shop.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-big-counter.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-bounce.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-center-atom.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-center-circle.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-center-radar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-center-simple.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-corner-indicator.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-fill-left.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-flash.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-flat-top.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-loading-bar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-mac-osx.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/red/pace-theme-minimal.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-barber-shop.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-big-counter.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-bounce.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-center-atom.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-center-circle.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-center-radar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-center-simple.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-corner-indicator.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-fill-left.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-flash.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-flat-top.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-loading-bar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-mac-osx.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/silver/pace-theme-minimal.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-barber-shop.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-big-counter.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-bounce.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-center-atom.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-center-circle.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-center-radar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-center-simple.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-corner-indicator.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-fill-left.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-flash.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-flat-top.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-loading-bar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-mac-osx.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/white/pace-theme-minimal.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-barber-shop.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-big-counter.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-bounce.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-center-atom.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-center-circle.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-center-radar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-center-simple.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-corner-indicator.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-fill-left.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-flash.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-flat-top.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-loading-bar.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-mac-osx.css">
    <link rel="stylesheet" href="/styles/bower_components/PACE/themes/yellow/pace-theme-minimal.css">
    <link rel="stylesheet" href="/styles/bower_components/select2/dist/css/select2.css">
    <link rel="stylesheet" href="/styles/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/styles/bower_components/select2/tests/vendor/qunit-1.23.1.css">
    <link rel="stylesheet" href="/styles/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/styles/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/styles/dist/css/alt/AdminLTE-bootstrap-social.css">
    <link rel="stylesheet" href="/styles/dist/css/alt/AdminLTE-bootstrap-social.min.css">
    <link rel="stylesheet" href="/styles/dist/css/alt/AdminLTE-fullcalendar.css">
    <link rel="stylesheet" href="/styles/dist/css/alt/AdminLTE-fullcalendar.min.css">
    <link rel="stylesheet" href="/styles/dist/css/alt/AdminLTE-select2.css">
    <link rel="stylesheet" href="/styles/dist/css/alt/AdminLTE-select2.min.css">
    <link rel="stylesheet" href="/styles/dist/css/alt/AdminLTE-without-plugins.css">
    <link rel="stylesheet" href="/styles/dist/css/alt/AdminLTE-without-plugins.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/_all-skins.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-black-light.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-black-light.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-black.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-black.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-blue-light.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-blue-light.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-blue.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-green-light.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-green-light.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-green.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-green.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-purple-light.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-purple-light.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-purple.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-purple.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-red-light.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-red-light.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-red.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-red.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-yellow-light.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-yellow-light.min.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-yellow.css">
    <link rel="stylesheet" href="/styles/dist/css/skins/skin-yellow.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/plugins/bootstrap-slider/slider.css">
    <link rel="stylesheet" href="/styles/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css">
    <link rel="stylesheet" href="/styles/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/all.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/flat/_all.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/flat/aero.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/flat/blue.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/flat/flat.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/flat/green.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/flat/grey.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/flat/orange.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/flat/pink.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/flat/purple.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/flat/red.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/flat/yellow.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/futurico/futurico.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/line/_all.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/line/aero.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/line/blue.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/line/green.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/line/grey.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/line/line.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/line/orange.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/line/pink.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/line/purple.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/line/red.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/line/yellow.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/minimal/_all.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/minimal/aero.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/minimal/blue.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/minimal/green.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/minimal/grey.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/minimal/minimal.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/minimal/orange.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/minimal/pink.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/minimal/purple.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/minimal/red.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/minimal/yellow.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/polaris/polaris.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/square/_all.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/square/aero.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/square/green.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/square/grey.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/square/orange.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/square/pink.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/square/purple.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/square/red.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/square/square.css">
    <link rel="stylesheet" href="/styles/plugins/iCheck/square/yellow.css">
    <link rel="stylesheet" href="/styles/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="/styles/plugins/pace/pace.css">
    <link rel="stylesheet" href="/styles/plugins/pace/pace.min.css">
    <link rel="stylesheet" href="/styles/plugins/timepicker/bootstrap-timepicker.css">
    <link rel="stylesheet" href="/styles/plugins/timepicker/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/jquery.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
