<style>
  .leftMargin {
    margin-left: 5px !important;
  }

  .btnMarginTop {
    margin-top: 8px;
  }

  .secMargin {
    margin-left: 10px;
  }

  .btn_lm {
    margin-left: -4px;
  }

  .fa_edt {
    font-size: 22px;
    color: rgb(4, 117, 161);
    font-weight: bold;
  }

  .fa_dlt {
    font-size: 22px;
    color: red;
    font-weight: bold;
  }

  .fa_detail {
    font-size: 24px;
    color: rgb(202, 132, 3);
    font-weight: bold;
  }

  @media all and (max-width: 991px) {
    .leftMargin {
      margin-left: -14px !important;
    }
  }
</style>
<div class="content-wrapper">
  <section class="content-header secMargin">
    <h1>Organization<small>Setup</small></h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Master</a></li>
      <li class="active">Company</li>
    </ol>
  </section>
  <section class="invoice">
    <div class="row">
      <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Basic Info</a></li>
            <li><a href="#tab_2" data-toggle="tab">Address</a></li>
            <li><a href="#tab_3" data-toggle="tab">Contact</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <div class="row">
                <div class="col-md-12 form-horizontal">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="form-group">
                            <div class="col-sm-12">
                              <select id="companyType" class="form-control">
                                <option>Select Company Type</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="name" placeholder="Company Name">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="shortname" placeholder="Company Short Name">
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                <input type="text" class="form-control" id="phone" placeholder="Phone">
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                            <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="tin" placeholder="TIN No">
                                </div>
                              </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="url" class="form-control" id="website" placeholder="Website">
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="tin" placeholder="BIN No">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="row">
                    <div class="box-footer pull-left" style="border-top: 0px">
                      <button class="btn btn-flat btn-success" onclick="submit()" id="saveButton">Save</button>
                      <button class="btn btn-flat btn-primary" onclick="submitEdit()" id="editButton" style="visibility: hidden;">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
              <div class="row" id="addressArea">
                <div class="col-md-12 form-horizontal">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="form-group">
                            <div class="col-sm-12">
                              <select id="addressType0" class="form-control">
                                <option>Select Address Type</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12"><select id="country0" class="form-control">
                                  <option>Select Country</option>
                              </select></div>
                            </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <select id="division0" class="form-control" onchange="divisionSelected(0)">
                                  <option>Select Division</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12"><select id="district0" class="form-control"
                                  onchange="districtSelected(0)">
                                  <option>Select District</option>
                                </select></div>
                            </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <select id="thana0" class="form-control" onchange="thanaSelected(0)">
                                  <option>Select Thana</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                            <div class="form-group leftMargin">
                                <div class="col-sm-12"><select id="postoffice0" class="form-control">
                                    <option>Select Post Office</option>
                                </select></div>
                              </div>
                            <div class="form-group leftMargin">
                              <div class="col-sm-12">
                                <input type="text" class="form-control" id="postcode0" placeholder="Post Code">
                              </div>
                            </div>
                            <div class="form-group leftMargin">
                              <div class="col-sm-12">
                                <input type="text" class="form-control" id="hpf0" placeholder="House/ Plot/ Flat">
                              </div>
                            </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="var0" placeholder="Village/ Area/ Road">
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <button class="btn btn-flat btn-danger">Delete</button>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="row">
                    <div class="box-footer pull-left" style="border-top: 0px">
                      <button class="btn btn-flat btn-success" onclick="addNewAddress()">Add</button>
                      <button class="btn btn-flat btn-success" onclick="submit()">Save</button>
                      <button class="btn btn-flat btn-primary" onclick="submitEdit()">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_3">
              <div class="row" id="contactPerson">
                <div class="col-md-12 form-horizontal">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="name0" placeholder="Contact Person">
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12 "><select id="department0" class="form-control"
                                  onchange="departmentSelected(0)">
                                <option>Select Department</option>
                                </select></div>
                            </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <select id="designation0" class="form-control">
                                  <option>Select Designation</option>
                              </select></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="form-group leftMargin">
                            <div class="col-sm-12"><select id="section0" class="form-control">
                                <option>Select Section</option>
                            </select></div>
                          </div>
                          <div class="form-group leftMargin">
                              <div class="col-sm-12"><input type="email" class="form-control" id="email0"
                                  placeholder="Email Address"></div>
                            </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="phone0" placeholder="Contact No">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="row">
                    <div class="box-footer pull-left" style="border-top: 0px">
                      <button class="btn btn-flat btn-success" onclick="addContact()">Add</button>
                      <button class="btn btn-flat btn-success" onclick="submit()">Save</button>
                      <button class="btn btn-flat btn-primary" onclick="submitEdit()">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div>
      </div>
    </div>
    <div style="clear:both;"></div>

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Organization List</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <select id="searchType" class="form-control" onchange="typeFilter()"></select>
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-flat btn-success"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Organization Name</th>
                    <th>Short Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Website</th>
                    <th>Company Type</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="companylist"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
</div>

<script src="/js/dropdown.js"></script>
<script>
  const idList = ['name', 'shortname', 'phone', 'email', 'website', 'tin'];
  addressDropdowns = ['addressType', 'division', 'thana', 'country', 'district', 'postoffice'];
  addressInputs = ['postcode', 'hpf', 'var'];
  contactDropdowns = ['section', 'department', 'designation'];
  contactInputs = ['email', 'name', 'phone'];
  let allCompanies = [], allDepartments = [], allDesignations = [], allSections = [], allCountries = [], allDivisions = [], allPO = [], diplayCompanies = [];
  let addressTypes = [];
  let selectedId, selectedIndex, departmentMap, divisionMap;
  let addressSize = 1;
  let contactSize = 1;

  getCompanies();
  setLovData('tov?type=Departments', 'department0', 'Select Department').then(data => {
    allDepartments = data.values;
    departmentMap = data.map;
  });
  setLovData('tov?type=Designations', 'designation0', 'Select Designation').then(data => allDesignations = data.values);
  setLovData('tov?type=Country', 'country0', 'Select Countries').then(data => allCountries = data.values);
  // setLovData('tov?type=Post Office', 'postoffice0', 'Select Post Office').then(data => allPO = data.values);
  setLovData('tov?type=Company Type', 'companyType', 'Select Company Type').then(data => setSelectionList('searchType', data.values));
  setLovData('tov?type=Address Type', 'addressType0', 'Select Address Type').then(data => addressTypes = data.values);
  setLovData('tov?type=Division', 'division0', 'Select Division').then(data => {
    allDivisions = data.values;
    divisionMap = data.map;
  });

  function getSubmitData() {
    const object = {};
    idList.forEach(element => object[element] = getInputValue(element));

    object['companytype'] = getSelectedText('companyType');

    object['address'] = [];
    for (let i = 0; i < addressSize; i++) {
      const addressObject = {};
      addressInputs.forEach(element => addressObject[element] = getInputValue(element + '' + i));
      addressDropdowns.forEach(element => addressObject[element] = getSelectedText(element + i));
      object['address'].push(addressObject);
    }

    object['contact'] = [];
    for (let i = 0; i < contactSize; i++) {
      const personObject = {};
      contactInputs.forEach(element => personObject[element] = getInputValue(element + '' + i));
      contactDropdowns.forEach(element => personObject[element] = getSelectedText(element + i));
      object['contact'].push(personObject);
    }

    return object;
  }

  function departmentSelected(index) {
    const selectedDepartment = getSelectedText('department' + index);
    allSections = departmentMap[selectedDepartment].map(element => element.Section);
    setSelectionList('section' + index, allSections, 'Select Section');
  }

  function divisionSelected(index) {
    const selectedDivision = getSelectedText('division' + index);
    let districtList;

    if (!divisionMap[selectedDivision]) districtList = [];
    else districtList = divisionMap[selectedDivision].map(element => element.District);

    setSelectionList('district' + index, districtList, 'Select District');
  }

  function districtSelected(index) {
    return setFilteredSelection('district' + index, 'District', 'Police Station', 'thana' + index, 'Select Thana');
  }

  function thanaSelected(index) {
    return setFilteredSelection('thana' + index, 'Police Station', 'Post Office', 'postoffice' + index, 'Select Post Office');
  }

  function setFilteredSelection(sourceId, linkType, filterKey, destinationId, title) {
    const selectedItem = getSelectedText(sourceId);
    return new Promise((resolve, reject) => {
      $.get('/api/tovValue?type=' + linkType + '&value=' + selectedItem, (res) => {
        let filteredList;
        if(!res) filteredList = [];
        else filteredList = res.map(element => element[filterKey]);

        setSelectionList(destinationId, filteredList, title);
        resolve();
      });
    });
  }

  function getInputValue(id) {
    let currentValue = document.getElementById(id).value;
    if (!currentValue) currentValue = '';
    return currentValue;
  }

  function getCompanies() {
    $.get('api/companies', (res) => {
      allCompanies = res;
      diplayCompanies = res;
      if (selectedId === -1) selectedId = res[res.length - 1].id;
      displayList();
    });
  }

  function displayList(type = null) {
    let string = '';
    const length = diplayCompanies.length;

    for (let i = 0; i < length; i++) {
      const currentCompany = diplayCompanies[i];
      string += '<tr><td>' + currentCompany.name + '</td><td>' + currentCompany.shortname + '</td>'
      string += '<td>' + currentCompany.phone + '</td><td>' + currentCompany.email + '</td>';
      string += '<td>' + currentCompany.website + '</td>';
      string += `<td> <i class="fa fa-edit fa_edt" onclick="edit(` + i + `)"></i>&nbsp; <i class="fa fa-eye fa_detail"></i> &nbsp; <i class="fa fa-trash-o fa_dlt" onclick="deleteRecord(` + i + `)"></i></td></tr>`;
    }
    document.getElementById('companylist').innerHTML = string;
  }

  function addContact() {

    const string = `<div class="col-md-11 form-horizontal"><div class="box-body"><div class="row"><div class="col-md-6"><div class="row">`
      + generateInputForm('text', 'form-control', 'name' + contactSize, null, 'Contact Person') 
      + generateDropDown(`department` + contactSize, 'form-control', allDepartments) 
      + generateDropDown(`designation` + contactSize, 'form-control', allDesignations)
      + '</div></div><div class="col-md-6"><div class="row">'
      + generateDropDown(`section` + contactSize, 'form-control', allSections)
      + generateInputForm('text', 'form-control', 'email' + contactSize, null, 'Email') 
      + generateInputForm('text', 'form-control', 'phone' + contactSize, null, 'Contact No') + '</div></div></div></div></div>';

    contactSize++;
    let dom = document.getElementById('contactPerson').innerHTML;
    dom += string;
    document.getElementById('contactPerson').innerHTML = dom;
    document.getElementById(`department` + (contactSize - 1)).setAttribute('onchange', 'departmentSelected(' + (contactSize - 1) + ')');
  }

  function addAddress() {

    const address = `<div class="col-md-12 form-horizontal"><div class="box-body"><div class="row"><div class="col-md-6"><div class="row">`
      + generateDropDown(`addressType` + addressSize, 'form-control', addressTypes)
      + generateDropDown(`country` + addressSize, 'form-control', allCountries, null, 'leftMargin') 
      + generateDropDown(`division` + addressSize, 'form-control', allDivisions, 'divisionSelected(' + addressSize + ')') 
      + generateDropDown(`district` + addressSize, 'form-control', [], 'districtSelected(' + addressSize + ')', 'leftMargin')
      + generateDropDown(`thana` + addressSize, 'form-control', [], 'thanaSelected(' + addressSize + ')')
      + '</div></div><div class="col-md-6"><div class="row">'
      + generateDropDown(`postoffice` + addressSize, 'form-control', [], null, 'leftMargin') 
      + generateInputForm('text', 'form-control', 'postcode' + addressSize, null, 'Post Code')
      + generateInputForm('text', 'form-control', 'hpf' + addressSize, null, 'Hose/Plot/Flat')
      + generateInputForm('text', 'form-control', 'var' + addressSize, null, 'Village/Road', 'leftMargin')
      + '<div class="form-group leftMargin"><div class="col-sm-12"><button class="btn btn-flat btn-danger">Delete</button></div></div></div></div></div></div></div>';

    addressSize++;
    let dom = document.getElementById('addressArea').innerHTML;
    dom += address;
    document.getElementById('addressArea').innerHTML = dom;
  }

  function typeFilter() {
    const searchType = getSelectedText('searchType');
    if (searchType === 'GENERAL') diplayCompanies = allCompanies;
    else diplayCompanies = allCompanies.filter(element => element.companytype === searchType);
    displayList();
  }

  function generateInputForm(type, className, idValue, value, placeholder, parentClass = null) {
    if (!parentClass) parentClass = '';
    let string = '<div class="form-group ' + parentClass + '"><div class="col-sm-12"><input type="' + type + '" class="' + className + '" id="' + idValue + '" ';
    if (value) string += ' value = "' + value + '" ';
    if (placeholder) string += ' placeholder="' + placeholder + '"';
    string += '></div></div>';
    return string;
  }

  function generateDropDown(idvalue, className, list, onSelect, parentClass = null) {
    if (!parentClass) parentClass = '';
    if (!onSelect) onSelect = '';
    let string = `<div class="form-group ` + parentClass + `" onchange="` + onSelect + `"><div class="col-sm-12"><select id="` + idvalue + `" class="` + className + `">`;
    string += '<option hidden disabled selected value>Select ' + idvalue.substring(0, idvalue.length - 1) + '</option>'
    list.forEach(element => string += '<option>' + element + '</option>');
    string += '</select></div></div>';

    return string;
  }

  function edit(index) {
    selectedId = diplayCompanies[index].id;
    selectedIndex = index;
    editMode();

    idList.forEach(element => {
      document.getElementById(element).value = diplayCompanies[index][element];
    });

    setSelectedValue('companyType', diplayCompanies[index].companytype);

    document.getElementById('addressArea').innerHTML = '';
    addressSize = 0;
    const addresses = diplayCompanies[index].address;
    let length = addresses.length;

    for (let i = 0; i < length; i++) {
      addAddress();
      const keyList = Object.keys(addresses[i]);
      keyList.forEach(element => {
        document.getElementById(element + '' + i).value = addresses[i][element];
      });

      divisionSelected(i);
      document.getElementById('district' + i).value = addresses[i]['district'];
      
      districtSelected(i).then(() => {
        setSelectedValue('thana' + i, addresses[i]['thana']);
        return thanaSelected(i);
      }).then(() => setSelectedValue('postoffice' + i, addresses[i]['postoffice']));
    }

    document.getElementById('contactPerson').innerHTML = '';
    const contacts = diplayCompanies[index].contact;
    length = contacts.length
    contactSize = 0;

    for (let i = 0; i < length; i++) {
      addContact();
      const keyList = Object.keys(contacts[i]);
      keyList.forEach(element => {
        document.getElementById(element + '' + i).value = contacts[i][element];
      });
      setSelectedValue('addressType' + i, addresses[i].addressType);
    }
  }

  function editMode() {
    document.getElementById('saveButton').style.visibility = 'hidden';
    document.getElementById('editButton').style.visibility = 'visible';
  }

  function addNewAddress() {

  }

  function submit() {
    const data = getSubmitData();
    $.post('/Company', data, (res) => {
      if (res) {
        getCompanies();
        selectedId = -1;
        editMode();
      }
    });
  }

  function deleteRecord(index) {
    const id = diplayCompanies[index].id;
    $.ajax({
      url: '/company', method: 'DELETE', data: { id: id }, success: res => {
        if (res.update) getCompanies();
      }
    });
  }

  function submitEdit() {
    if (!selectedId) return;

    const data = getSubmitData();
    data.id = selectedId;

    $.post('/Company', data, (res) => {
      if (res) getCompanies();
    });
  }
</script>