<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Company
      <small>Profile</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Master</a></li>
      <li class="active">Company</li>
    </ol>
  </section>
  <section class="invoice">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-globe"></i> Company Basic Information
          <small class="pull-right">Date: 2/10/2019</small>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Company Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="Company Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Company Type</label>
            <div class="col-sm-10">
              <select id="companyType" class="form-control">
                <option selected>General</option>
                <option>SUPPLIER</option>
                <option>CUSTOMER</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Short Name</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" id="shortname" placeholder="Company Short Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="phone" placeholder="Phone">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Website</label>
            <div class="col-sm-10">
              <input type="url" class="form-control" id="website" placeholder="Website">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">TIN No</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="tin" placeholder="TIN No">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-globe"></i>Address
        </h2>
      </div>
    </div>
    <div class="row" id="addressArea">
      <div class="col-md-10 form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Address Type</label>
            <div class="col-sm-10">
              <select id="addressType0" class="form-control">
                <option selected>Organisation Address </option>
                <option>Head Quarter Address </option>
                <option>Factory Address </option>
                <option>Delivery Address </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">District</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="district0" placeholder="District">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Police Station</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="policestation0" placeholder="Police Station">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Post Office</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="postOffice0" placeholder="Post Office">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Post Code</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="postcode0" placeholder="Post Code">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">House/ Plot/ Flat</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="hpf0" placeholder="House/ Plot/ Flat">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Village/ Area/ Road</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="var0" placeholder="Village/ Area/ Road">
            </div>
          </div>
        </div>
      </div>
      <button onclick="addAddress()">Add Address</button>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-globe"></i> Contact Person
        </h2>
      </div>
    </div>
    <div class="row" id="contactPerson">
      <div class="col-md-10 form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Display Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="displayName0" placeholder="Display Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Department</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="department0" placeholder="Department">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Designation</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="designation0" placeholder="Designation">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Contact No</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="contactNo0" placeholder="Contact No">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Email Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email0" placeholder="Email Address">
            </div>
          </div>
        </div>
      </div>
      <button onclick="addContact()">Add Contact Person</button>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="box-footer pull-right" style="border-top: 0px">
          <button class="btn btn-primary" onclick="submit()">Save</button>
          <button class="btn btn-default" onclick="submitEdit()">Edit</button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Company List</h3>

            <div class="box-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead><tr>
                <th>Company Name</th>
                <th>Short Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Website</th>
                <th>Company Type</th>
                <th>Action</th>
              </tr></thead>
              <tbody id="companylist"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
</div>

<script src="/js/dropdown.js"></script>
<script>
  const idList = ['name', 'shortname', 'phone', 'email', 'website', 'tin'];
  addressIds = ['district', 'policestation', 'postcode', 'hpf', 'var', 'postOffice'];
  contactIds = ['displayName', 'department', 'contactNo', 'email', 'designation'];
  let allCompanies = [];
  let selectedId;
  let addressSize = 1;
  let contactSize = 1;

  getCompanies();

  function getSubmitData() {
    const object = {};
    idList.forEach(element => object[element] = getInputValue(element));

    object['companytype'] = getSelectedText('companyType').toLowerCase();
    
    object['address'] = [];
    for(let i=0; i < addressSize; i++) {
      const addressObject = {};
      addressIds.forEach(element => addressObject[element] = getInputValue(element + '' + i));
      addressObject['addressType'] = getSelectedText('addressType' + i);
      object['address'].push(addressObject);
    }

    object['contact'] = [];
    for(let i=0; i < contactSize; i++) {
      const personObject = {};
      contactIds.forEach(element => personObject[element] = getInputValue(element + '' + i));
      object['contact'].push(personObject);
    }

    return object;
  }

  function getInputValue(id) {
    let currentValue = document.getElementById(id).value;
    if(!currentValue) currentValue = '';
    return currentValue;
  }

  function getCompanies() {
    $.get('api/companies', (res) => {
      allCompanies = res;
      displayList();
    });
  }

  function displayList() {
    let string = '';
    const length = allCompanies.length;

    for (let i = 0; i < length; i++) {
      const currentCompany = allCompanies[i];
      string += '<tr><td>' + currentCompany.name + '</td><td>' + currentCompany.shortname + '</td>'
      string += '<td>' + currentCompany.phone + '</td><td>' + currentCompany.email + '</td>';
      string += '<td>' + currentCompany.website + '</td>';
      string += `<td><button class="label label-primary" onclick="edit(` + i + `)">Edit</button>&nbsp;&nbsp;
                <button class="label label-danger" onclick="deleteRecord(` + i + `)">Delete</button></td></tr>`;
    }
    document.getElementById('companylist').innerHTML = string;
  }

  function addContact() {
    const string = `<div class="col-md-10 form-horizontal"><div class="box-body"><div class="form-group">
        <label class="col-sm-2 control-label">Display Name</label><div class="col-sm-10">
        <input type="text" class="form-control" id="displayName` + contactSize + `" placeholder="Display Name">
        </div></div><div class="form-group"><label class="col-sm-2 control-label">Department</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="department` + contactSize + `" placeholder="Department">
        </div></div><div class="form-group"><label class="col-sm-2 control-label">Designation</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="designation` + contactSize + `" placeholder="Designation">
        </div></div><div class="form-group"><label class="col-sm-2 control-label">Contact No</label>
        <div class="col-sm-10"><input type="text" class="form-control" id="contactNo` + contactSize + `" placeholder="Contact No">
        </div></div><div class="form-group"><label class="col-sm-2 control-label">Email Address</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="email` + contactSize + `" placeholder="Email Address">
        </div></div></div></div>`;
        contactSize++;
        let dom = document.getElementById('contactPerson').innerHTML;
        dom += string;
        document.getElementById('contactPerson').innerHTML = dom;
  }

  function addAddress() {
    const address = `<div class="col-md-10 form-horizontal"><div class="box-body"><div class="form-group">
      <label class="col-sm-2 control-label">Address Type</label><div class="col-sm-10">
      <select id="addressType` + addressSize + `" class="form-control"><option  hidden disabled selected value>
      Select Address Type</option><option>Organisation Address</option><option>Head Quarter Address</option>
      <option>Factory Address </option><option>Delivery Address</option></select></div></div>
      <div class="form-group"><label class="col-sm-2 control-label">District</label><div class="col-sm-10">
      <input type="text" class="form-control" id="district` + addressSize + `" placeholder="District">
      </div></div><div class="form-group"><label class="col-sm-2 control-label">Police Station</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="policestation` + addressSize + `" placeholder="Police Station">
      </div></div><div class="form-group"><label class="col-sm-2 control-label">Post Office</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="postOffice` + addressSize + `" placeholder="Post Office">
      </div></div><div class="form-group"><label class="col-sm-2 control-label">Post Code</label>
      <div class="col-sm-10">
      <input type="number" class="form-control" id="postcode` + addressSize + `" placeholder="Post Code">
      </div></div><div class="form-group"><label class="col-sm-2 control-label">House/ Plot/ Flat</label>
      <div class="col-sm-10"><input type="text" class="form-control" id="hpf` + addressSize + `" placeholder="House/ Plot/ Flat">
      </div></div><div class="form-group"><label class="col-sm-2 control-label">Village/ Area/ Road</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="var` + addressSize + `" placeholder="Village/ Area/ Road">
      </div></div></div></div>`;
      addressSize++;
      let dom = document.getElementById('addressArea').innerHTML;
      dom += address;
      document.getElementById('addressArea').innerHTML = dom;
  }

  function getSelectedText(id) {
    const selection = document.getElementById(id);
    console.log(selection);
    return selection.options[selection.selectedIndex].innerHTML;
  }

  function edit(index) {
    selectedId = allCompanies[index].id;

    idList.forEach(element => {
      document.getElementById(element).value = allCompanies[index][element];
    });

    setSelectedValue('companyType', allCompanies[index].companytype.toUpperCase());

    document.getElementById('addressArea').innerHTML = '';
    addressSize = 0;
    const addresses = allCompanies[index].address;
    let length = addresses.length;

    for(let i=0; i < length; i++) {
      addAddress();
      const keyList = Object.keys(addresses[i]);
      keyList.forEach(element => {
        document.getElementById(element + '' + i).value = addresses[i][element];
      });
    }

    document.getElementById('contactPerson').innerHTML = '';
    const contacts = allCompanies[index].contact;
    length = contacts.length
    contactSize = 0;

    for(let i=0; i < length; i++) {
      addContact();
      const keyList = Object.keys(contacts[i]);
      keyList.forEach(element => {
        document.getElementById(element + '' + i).value = contacts[i][element];
      });
      setSelectedValue('addressType' + i, addresses[i].addressType);
    }
  }

  function submit() {
    const data = getSubmitData();
    $.post('/Company', data, (res) => {
      if (res) getCompanies();
    });
  }

  function deleteRecord(index) {
    const id = allCompanies[index].id;
    $.ajax({
			url: '/company', method: 'DELETE', data: {id: id}, success: res => {
				if(res.update) getUser();
			}
		});
  }

  function submitEdit() {
    if (!selectedId) return;

    const data = getSubmitData();
    data.id = selectedId;

    $.post('/Company', data, (res) => {
      if (res) getCompanies();
    });
  }
</script>