<div class="content-wrapper">
    <section class="content-header">
        <h1>Dashboard<small>Control panel</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>150</h3>
                        <p>New Orders</p>
                    </div>
                    <div class="icon"><i class="ion ion-bag"></i></div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>
                        <p>Bounce Rate</p>
                    </div>
                    <div class="icon"><i class="ion ion-stats-bars"></i></div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>44</h3>
                        <p>User Registrations</p>
                    </div>
                    <div class="icon"><i class="ion ion-person-add"></i></div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>65</h3>
                        <p>Unique Visitors</p>
                    </div>
                    <div class="icon"><i class="ion ion-pie-graph"></i></div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <p style="margin:12px">Create new user</p><br>
            Username: <input type="text" id="username"><br>
            Password: <input type="password" id="password"> Confirm password: <input type="password" id="pass2"><br>
            Role: <input type="number" id="access"><br>
            <button onclick="submit()">Submit</button> <button onclick="edit()" disabled id="submitEdit">Edit</button>

            <ul style="padding: 8px" id="userlist">
                <li>Random data 1</li>
                <li>Random data 2</li>
            </ul>
        </div>
        <div class="row">
            <section class="col-lg-7 connectedSortable"></section>
            <section class="col-lg-5 connectedSortable"></section>
        </div>
    </section>
</div>


<script src="/dependencies/jquery.js"></script>
<script>
    getUser();
    const datalist = ['username', 'password', 'access'];
    let userList = [];
    let selectedUserId;

    function submit() {
        const data = getInputData();
        if (!data) return;

        $.post('/register', data, (res) => {
            if (!res.unique) alert('Username already exists');
            else getUser();
        });
    }

    function getUser() {
        let listData = '';
        $.get('/getUser', (data) => {
            data.forEach((element, index) => {
                const dataString = 'Username: ' + element.username + ' || Acess Level: ' + element.access;
                listData += '<li>' + dataString + ' <button onclick="editEntry(' + index + ')">Edit</button><button onclick="deleteEntry(' + index + ')">Delete</button></li>';
            });
            document.getElementById('userlist').innerHTML = listData;
            userList = data;
        });
    }

    function logout() {
        localStorage.removeItem('token');
        window.open('/login', '_self');
    }

    function editEntry(index) {
        document.getElementById('submitEdit').disabled = false;

        datalist.forEach(element => {
            document.getElementById(element).value = userList[index][element]
        });
        document.getElementById('pass2').value = userList[index].password;
        selectedUserId = userList[index].id;
    }

    function deleteEntry(index) {
        $.ajax({
            url: '/deleteUser', method: 'DELETE', data: { userid: userList[index].id }, success: res => {
                if (res.update) getUser();
            }
        });
    }


    function getInputData() {
        data = {};
        length = 3;
        success = true;

        for (let i = 0; i < length; i++) {
            const currentValue = document.getElementById(datalist[i]).value;
            if (!currentValue) {
                success = false;
                alert('Enter value for ' + datalist[i]);
                break;
            }
            data[datalist[i]] = currentValue;
        }

        if (!success) return false;

        if (data.password != document.getElementById('pass2').value) {
            alert('Password mismatch');
            return false;
        }

        return data;
    }

    function edit() {
        const data = getInputData();
        if (!data) return;

        data.userid = selectedUserId;

        $.ajax({
            url: '/editUser', method: 'PUT', data: data, success: res => {
                if (res.update) getUser();
                else alert(res.message);
            }
        });
    }
</script>