<style>
  .leftMargin {
    margin-left: 5px !important;
  }

  .btnMarginTop {
    margin-top: 8px;
  }

  .secMargin {
    margin-left: 10px;
  }
</style>
<div class="content-wrapper">
  <section class="content-header secMargin">
    <h1>Employee<small>Profile</small></h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Master</a></li>
      <li class="active">Employee</li>
    </ol>
  </section>
  <section class="invoice">
    <div class="row">
      <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Basic Info</a></li>
            <li><a href="#tab_2" data-toggle="tab">Address</a></li>
            <li><a href="#tab_3" data-toggle="tab">Prior Experience</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <div class="row">
                <div class="col-md-12 form-horizontal">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="firstname" placeholder="First Name">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="middlename" placeholder="Middle Name">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="lastname" placeholder="Title">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="father" placeholder="Fathers Name">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <!-- <label>Date of Birth</label> -->
                              <input type="date" class="form-control" id="birthday" name="dateOfBirth">
                            </div>
                          </div>
                          <!-- <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="tin" placeholder="Birth Place">
                            </div>
                          </div> -->
                          <div class="form-group">
                            <div class="col-sm-12">
                              <select id="blood" class="form-control">
                                <option selected>Blood Group</option>
                                <option>A+</option>
                                <option>B+</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <select id="religion" class="form-control">
                                <option selected>Religion</option>
                                <option>Islam</option>
                                <option>Hindue</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="nid" placeholder="National Id No">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="license" placeholder="Driving License No">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                            </div>
                          </div>
                          <!-- <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="nickNmae" placeholder="Nick Name">
                            </div>
                          </div> -->
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="mother" placeholder="Mothers Name">
                            </div>
                          </div>
                          <!-- <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="age" placeholder="Age">
                            </div>
                          </div> -->
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <select id="gender" class="form-control">
                                <option selected>Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <select id="relationship" class="form-control">
                                <option selected>Merital Status</option>
                                <option>Married</option>
                                <option>UnMarried</option>
                                <option>Single</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="nationality" placeholder="Nationality">
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="passport" placeholder="Passport No">
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="tin" placeholder="TIN No">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
              <div class="row">
                <div class="col-md-12 form-horizontal">
                  <div class="box-body">
                    <div class="row">
                      <h2 class="page-header">Present Address</h2>
                    </div>
                    <div class="row" id="addressArea">
                      <div class="col-md-12 form-horizontal">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Division </option>
                                    <option>Chittagong </option>
                                    <option>Rajshahi </option>
                                    <option>Dhaka </option>
                                    <option>Jessore </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Police Station </option>
                                    <option>Akkelpur </option>
                                    <option>Adamdighi </option>
                                    <option>Atrai </option>
                                    <option>Bagatipara </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="hpf0" placeholder="Post Code">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="hpf0" placeholder="House/ Plot/ Flat">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Country </option>
                                    <option>Algeria </option>
                                    <option>Andorra </option>
                                    <option>Angola </option>
                                    <option>Bangladesh </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>District </option>
                                    <option>Chittagong </option>
                                    <option>Rajshahi </option>
                                    <option>Dhaka </option>
                                    <option>Jessore </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Post Office </option>
                                    <option>Kotwali </option>
                                    <option>Ramna </option>
                                    <option>Kamrangichor </option>
                                    <option>Sotrapur </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="var0" placeholder="Village/ Area/ Road">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-md-1">
                  <button class="btn btn-flat btn-success" onclick="addAddress()">Add</button>
                </div> -->
                    </div>
                    <div class="row">
                      <h2 class="page-header">Permanent Address</h2>
                    </div>
                    <div class="row" id="addressArea">
                      <div class="col-md-12 form-horizontal">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Division </option>
                                    <option>Chittagong </option>
                                    <option>Rajshahi </option>
                                    <option>Dhaka </option>
                                    <option>Jessore </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Police Station </option>
                                    <option>Akkelpur </option>
                                    <option>Adamdighi </option>
                                    <option>Atrai </option>
                                    <option>Bagatipara </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="hpf0" placeholder="Post Code">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="hpf0" placeholder="House/ Plot/ Flat">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Country </option>
                                    <option>Algeria </option>
                                    <option>Andorra </option>
                                    <option>Angola </option>
                                    <option>Bangladesh </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>District </option>
                                    <option>Chittagong </option>
                                    <option>Rajshahi </option>
                                    <option>Dhaka </option>
                                    <option>Jessore </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Post Office </option>
                                    <option>Kotwali </option>
                                    <option>Ramna </option>
                                    <option>Kamrangichor </option>
                                    <option>Sotrapur </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="var0" placeholder="Village/ Area/ Road">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_3">
              Test
            </div>
            <!-- /.tab-pane -->
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-md-10">
                <div class="row">
                  <div class="box-footer pull-left" style="border-top: 0px">
                    <button class="btn btn-flat btn-success" onclick="submit()">Save</button>
                    <button class="btn btn-flat btn-primary" onclick="submitEdit()">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>


</div>


</section>
<div class="clearfix"></div>
</div>

<script>
  const inputList = ['firstname', 'middlename', 'lastname', 'mother', 'father', 'nationality', 'tin', 'passport', 'license', 'nid', 'birthday'];
  const selectList = ['religion', 'blood', 'gender', 'relationship'];

  function getInputData(data) {
    inputList.forEach(id => data[id] = document.getElementById(id).value);
    selectList.forEach(id => data[id] = getSelectedText(id));
    return data;
  }
</script>