<style>
  .leftMargin {
    margin-left: 5px !important;
  }

  .btnMarginTop {
    margin-top: 8px;
  }

  .secMargin {
    margin-left: 10px;
  }

  .fa_edt {
    font-size: 22px;
    color: rgb(4, 117, 161);
    font-weight: bold;
  }

  .fa_dlt {
    font-size: 22px;
    color: red;
    font-weight: bold;
  }

  .fa_detail {
    font-size: 24px;
    color: rgb(202, 132, 3);
    font-weight: bold;
  }

  @media all and (max-width: 991px) {
    .leftMargin {
      margin-left: -14px !important;
    }
  }
</style>
<div class="content-wrapper">
  <section class="content-header secMargin">
    <h1>Employee<small>Profile</small></h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Master</a></li>
      <li class="active">Employee</li>
    </ol>
  </section>
  <section class="invoice">
    <div class="row">
      <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Basic Info</a></li>
            <li><a href="#tab_2" data-toggle="tab">Address</a></li>
            <li><a href="#tab_3" data-toggle="tab">Prior Experience</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <div class="row">
                <div class="col-md-12 form-horizontal">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="firstname" placeholder="First Name">
                            </div>
                          </div>
                          <!-- <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="middlename" placeholder="Last Name">
                            </div>
                          </div> -->
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <!-- <input type="text" class="form-control" id="lastname" placeholder="Title"> -->
                              <select id="lastname" class="form-control">
                                <option selected>Title</option>
                                <option>Mr.</option>
                                <option>Mrs</option>
                                <option>Mss</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="father" placeholder="Fathers Name">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="mother" placeholder="Mothers Name">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="date" class="form-control" id="birthday" name="dateOfBirth">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <select id="blood" class="form-control">
                                <option selected>Blood Group</option>
                                <option>A+</option>
                                <option>B+</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <select id="religion" class="form-control">
                                <option selected>Religion</option>
                                <option>Islam</option>
                                <option>Hindue</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="nid" placeholder="National Id No">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="phone" placeholder="Phone No">
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <select id="gender" class="form-control">
                                <option selected>Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <select id="relationship" class="form-control">
                                <option selected>Merital Status</option>
                                <option>Married</option>
                                <option>UnMarried</option>
                                <option>Single</option>
                              </select>
                            </div>
                          </div>
                          <!-- <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="nationality" placeholder="Nationality">
                            </div>
                          </div> -->
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <select id="religion" class="form-control">
                                <option selected>Nationality</option>
                                <option>Bangladeshi</option>
                                <option>Indian</option>
                                <option>Srilankan</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="passport" placeholder="Passport No">
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="tin" placeholder="TIN No">
                            </div>
                          </div>
                          <div class="form-group leftMargin">
                            <div class="col-sm-12">
                              <input type="text" class="form-control" id="license" placeholder="Driving License No">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
              <div class="row">
                <div class="col-md-12 form-horizontal">
                  <div class="box-body">
                    <div class="row">
                      <h2 class="page-header">Present Address</h2>
                    </div>
                    <div class="row" id="addressArea">
                      <div class="col-md-12 form-horizontal">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Division </option>
                                    <option>Chittagong </option>
                                    <option>Rajshahi </option>
                                    <option>Dhaka </option>
                                    <option>Jessore </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Police Station </option>
                                    <option>Akkelpur </option>
                                    <option>Adamdighi </option>
                                    <option>Atrai </option>
                                    <option>Bagatipara </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="hpf0" placeholder="Post Code">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="hpf0" placeholder="House/ Plot/ Flat">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Country </option>
                                    <option>Algeria </option>
                                    <option>Andorra </option>
                                    <option>Angola </option>
                                    <option>Bangladesh </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>District </option>
                                    <option>Chittagong </option>
                                    <option>Rajshahi </option>
                                    <option>Dhaka </option>
                                    <option>Jessore </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Post Office </option>
                                    <option>Kotwali </option>
                                    <option>Ramna </option>
                                    <option>Kamrangichor </option>
                                    <option>Sotrapur </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="var0" placeholder="Village/ Area/ Road">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-md-1">
                  <button class="btn btn-flat btn-success" onclick="addAddress()">Add</button>
                </div> -->
                    </div>
                    <div class="row">
                      <h2 class="page-header">Permanent Address</h2>
                    </div>
                    <div class="row" id="addressArea">
                      <div class="col-md-12 form-horizontal">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Division </option>
                                    <option>Chittagong </option>
                                    <option>Rajshahi </option>
                                    <option>Dhaka </option>
                                    <option>Jessore </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Police Station </option>
                                    <option>Akkelpur </option>
                                    <option>Adamdighi </option>
                                    <option>Atrai </option>
                                    <option>Bagatipara </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="hpf0" placeholder="Post Code">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="hpf0" placeholder="House/ Plot/ Flat">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Country </option>
                                    <option>Algeria </option>
                                    <option>Andorra </option>
                                    <option>Angola </option>
                                    <option>Bangladesh </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>District </option>
                                    <option>Chittagong </option>
                                    <option>Rajshahi </option>
                                    <option>Dhaka </option>
                                    <option>Jessore </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <select id="addressType0" class="form-control">
                                    <option selected>Post Office </option>
                                    <option>Kotwali </option>
                                    <option>Ramna </option>
                                    <option>Kamrangichor </option>
                                    <option>Sotrapur </option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group leftMargin">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" id="var0" placeholder="Village/ Area/ Road">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_3">
              Test
            </div>
            <!-- /.tab-pane -->
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-md-10">
                <div class="row">
                  <div class="box-footer pull-left" style="border-top: 0px">
                    <button class="btn btn-flat btn-success" onclick="submit()">Save</button>
                    <button class="btn btn-flat btn-primary" onclick="submitEdit()">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Employee Details</h3>
            <div class="box-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-flat btn-success"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody id="usertable">
                <tr>
                  <th>Employee Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Present Address</th>
                  <th>Permanent Address</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td>whatever</td>
                  <td>descriptiom</td>
                  <td>Software</td>
                  <td>Application Software</td>
                  <td>Perpetual</td>
                  <td><i class="fa fa-edit fa_edt"></i>&nbsp; <i class="fa fa-eye fa_detail"></i> &nbsp; <i
                      class="fa fa-trash-o fa_dlt"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

</div>


</section>
<div class="clearfix"></div>
</div>

<script>
  const inputList = ['firstname', 'lastname', 'mother', 'father', 'nationality', 'tin', 'passport', 'license', 'nid', 'birthday'];
  const selectList = ['religion', 'blood', 'gender', 'relationship'];

  function getInputData(data) {
    inputList.forEach(id => data[id] = document.getElementById(id).value);
    selectList.forEach(id => data[id] = getSelectedText(id));
    return data;
  }

  function submit() {
    const data = getInputData({});

    $.post('/employee', data, (res) => {
      if (res) {
        console.log('Data Submitted');
      }
    })
  }

</script>