<style>
	.no_margin_padding {
		margin: 0;
		padding: 0;
	}
</style>
<div class="content-wrapper">
	<section class="content-header">
		<h1>Invoice<small>Generate</small></h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Invoice</a></li>
			<li class="active">generate</li>
		</ol>
	</section>
	<section class="invoice">
		<div class="row">
			<div class="col-sm-6" style="margin-top: 12px; font-size: 45px;">
				Invoice
			</div>
			<div class="col-sm-6">
				<div class="pull-right">
					<img src="images/logo.png" />
				</div>
			</div>
		</div>
		<div class="clear: both;"></div>
		<!-- style="border: 1px solid #ccc;" -->
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<!-- <div class="col-sm-1 no_margin_padding"></div> -->
					<div class="col-sm-12">
						<span>Test Limited</span><br>
						<span>Road</span><br>
						<span>Attn</span><br>
						<span>Contact No</span>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-3">Payment Term</div>
					<div class="col-sm-3">:</div>
					<div class="col-sm-3">Cash</div>
					<div class="col-sm-3"></div>
				</div>
				<div class="row">
					<div class="col-sm-3">Po Number</div>
					<div class="col-sm-3">:</div>
					<div class="col-sm-3"></div>
					<div class="col-sm-3"></div>
				</div>
				<div class="row">
					<div class="col-sm-3">Due Within</div>
					<div class="col-sm-3">:</div>
					<div class="col-sm-3"></div>
					<div class="col-sm-3"></div>
				</div>
				<div class="row">
					<div class="col-sm-3">Billing Period</div>
					<div class="col-sm-3">:</div>
					<div class="col-sm-3"></div>
					<div class="col-sm-3"></div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
</div>
</section>
</div>
<div class="control-sidebar-bg"></div>
<script src="/dependencies/jquery.js"></script>