<style>
	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	.boxbdymt {
		margin-top: 25px;
	}
</style>
<div class="content-wrapper">
	<section class="content-header">
		<h1>Mapping<small>Setup</small></h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Mapping</a></li>
			<li class="active">setup</li>
		</ol>
	</section>
	<section class="invoice">
		<!-- <div class="row">
			<div class="col-xs-12">
				<h2 class="page-header">Mapping<small class="pull-right">
						<script>
							var d = new Date();
							document.write(d.toLocaleString());
						</script>
					</small>
				</h2>
			</div>
		</div> -->
		<div class="row">
			<div class="card col-md-6 form-horizontal col-md-offset-3">
				<div class="box-body">
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Select Value to Map</label> -->
						<div class="col-sm-12">
							<select class="form-control" id="masterType" onchange="typeSelected(this)">
							</select>
						</div>
					</div>
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Select Value to Map</label> -->
						<div class="col-sm-12">
							<select class="form-control" id="masterValue" onchange="valueSelected(this)">
								<option hidden disabled selected value> Select Value to Map </option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="card col-md-6 form-horizontal col-md-offset-3">
				<div class="box-body">
					<h3>Set mapping data for selection</h3>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-md-12">
							<div class="form-group">
								<!-- <label for="inputEmail3" class="col-sm-2 control-label">Select Value to Map</label> -->
								<div class="col-sm-12" id="list">
									<!-- <div class="row">
										<div class="col-sm-5">
											<select class="form-control">
												<option>Select Type</option>
											</select>
										</div>
										<div class="col-sm-5">
											<select class="form-control">
												<option>Select Value</option>
											</select>
										</div>
										<div class="col-sm-2">
											<button class="btn btn-flat btn-danger">Delete</button>
										</div>
									</div> -->
									<!-- <p>
										<ul style="margin-left: -40px;" id="list"></ul>
									</p> -->
								</div>
							</div>
							<div class="row">
								<div class="box-footer pull-left" style="border-top: 0px; margin-left: 4px;">

									<button class="btn btn-flat btn-success" onclick="add()">Add</button>
									<button class="btn btn-primary btn-flat" onclick="save()">Save</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</section>
	<div class="clearfix"></div>
</div>
<div class="control-sidebar-bg"></div>
<script src="/dependencies/jquery.js"></script>
<script>
	let allTypes = [];
	let allValues = [];
	let currentJson = [
		{ type: 'designations', value: 'Manager' }, { type: 'departments', value: 'Admin' }
	];
	let masterTypeIndex;
	childNumber = 0;
	getValue();

	function getValue() {
		$.get('/tov', (data) => {
			allTypes = data.map(element => element.id);
			setSelectionList('masterType', allTypes);
			allValues = data;
		});
	}

	function typeSelected(selection) {
		masterTypeIndex = selection.selectedIndex - 1;
		document.getElementById('masterValue').innerHTML = '<option hidden disabled selected value> Select Value </option>';
		setSelectionList('masterValue', allValues[masterTypeIndex].values);
	}

	function valueSelected(selection) {
		currentJson = [];
		const value = getSelectedText('masterValue');
		const type = getSelectedText('masterType');

		$.get('/api/tovValue?type=' + type + '&value=' + value, (data) => {
			if (!data) {
				currentJson = [];
				generateList();
				return;
			}

			data.forEach(element => {
				const key = Object.keys(element)[0];
				currentJson.push({ type: key, value: element[key] });
			})
			generateList();
		});
	}

	function createSelect(list, id, onChange, title) {
		let string = '<select class="form-control" id="' + id + '" onchange="' + onChange + '"><option hidden disabled selected value> Select ' + title + '</option>'
		list.forEach(element => string += '<option>' + element + '</option>');
		string += '</select>';
		return string;
	}

	function generateList() {
		/*
		<div class="row">
										<div class="col-sm-5">
											<select class="form-control">
												<option>Select Type</option>
											</select>
										</div>
										<div class="col-sm-5">
											<select class="form-control">
												<option>Select Value</option>
											</select>
										</div>
										<div class="col-sm-2">
											<button class="btn btn-flat btn-danger">Delete</button>
										</div>
									</div>
		*/
		childNumber = currentJson.length;
		let string = '';

		for (let i = 0; i < childNumber; i++) {
			string += '<div class="row"><div class="col-sm-5">'
			string += createSelect(allTypes, 'childType' + i, 'childTypeSelected(' + i + ')', 'Type') +'</div>';

			allValues.forEach((element) => {
				if (element.id === currentJson[i].type) {
					string += '<div class="col-sm-5">' + createSelect(element.values, 'childValue' + i, 'childValueSelected(' + i + ')', 'Value') + '</div>';
				}
			});
			string += '<div class="col-sm-2"><button class="btn btn-flat btn-danger" onclick = "remove(' + i + ')">Delete</button></div>';
			string += '</div>';
		}
		document.getElementById('list').innerHTML = string;
		populateList();
	}

	function add() {
		let string = document.getElementById('list').innerHTML;
		string += '<div class="row"><div class="col-sm-5">';
		string += createSelect(allTypes, 'childType' + childNumber, 'childTypeSelected(' + childNumber + ')', 'Type') + '</div>';
		string += '<div class="col-sm-5">' + createSelect([], 'childValue' + childNumber, 'childValueSelected(' + childNumber + ')', 'Value') + '</div>';
		string += '<div class="col-sm-2"><button class="btn btn-flat btn-danger" onclick = "remove(' + childNumber + ')">Delete</button></div>';
		string += '</div>';
		document.getElementById('list').innerHTML = string;
		childNumber++;
		populateList()
	}

	function populateList() {
		currentJson.forEach((element, index) => {
			setSelectedValue('childType' + index, element.type);
			setSelectedValue('childValue' + index, element.value);
		});
	}

	function setSelectedValue(id, value) {
		const selection = document.getElementById(id);
		const options = selection.options;
		const length = options.length;

		for (let i = 0; i < length; i++) {
			if (options[i].innerHTML === value) {
				selection.selectedIndex = i;
				break;
			}
		}
	}

	function childTypeSelected(index) {
		const selectedIndex = document.getElementById('childType' + index).selectedIndex;
		document.getElementById('childValue' + index).innerHTML = '<option hidden disabled selected value> Select Value </option>';
		setSelectionList('childValue' + index, allValues[selectedIndex - 1].values);
	}

	function childValueSelected(index) {
		const type = getSelectedText('childType' + index);
		const value = getSelectedText('childValue' + index);
		currentJson[index] = { type: type, value: value };
	}

	function getSelectedText(id) {
		const selection = document.getElementById(id);
		return selection.options[selection.selectedIndex].innerHTML;
	}

	function remove(index) {
		if (index < currentJson.length) {
			currentJson.splice(index, 1);
			generateList();
		}
	}

	function save() {
		const value = getSelectedText('masterValue');
		const type = getSelectedText('masterType');
		const sendData = [];

		currentJson.forEach(element => {
			const pushObject = {};
			pushObject[element.type] = element.value;
			sendData.push(pushObject);
		});

		$.post('/api/setMap', { type: type, value: value, data: sendData }, (data) => console.log(data));
	}

	function print(message) {
		console.log(message)
	}
</script>
