<style>
	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	.boxbdymt {
		margin-top: 25px;
	}

	.noMarginPadding {
		margin: 0;
		padding: 0;
	}
</style>
<div class="content-wrapper">
	<section class="content-header">
		<h1>Page Permission<small>Settings</small></h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Common Settings</a></li>
			<li class="active">LOV</li>
		</ol>
	</section>
	<section class="invoice">
		<div class="row">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab_1" data-toggle="tab">User Authorization</a></li>
					<li><a href="#tab_2" data-toggle="tab">Group Authorization</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<div class="row">
							<div class="col-md-12 form-horizontal">
								<div class="box-body">
									<div class="row">
										<div class="card col-md-5 form-horizontal col-md-offset-4">
											<div class="box-body boxbdymt">
												<div class="form-group">
													<div class="col-sm-12">
														<div class="row">
															<div class="col-sm-12">
																<select class="form-control" id="users" onchange="userSelected()"></select>
															</div>
														</div>
													</div>
												</div>
												Pages
												<div class="form-group" id="userPages" style="margin-left: 0px;"></div>
												Groups
												<div class="form-group" id="userGroups" style="margin-left: 0px;"></div>
												<div class="form-group">
													<div class="col-sm-12">
														<hr style="margin: 0px; padding: 0px;">
													</div>
												</div>
												
												<div class="row" style="margin-bottom: 20px;">
													<div class="col-md-10">
														<div class="row">
															<div class="box-footer pull-left"
																style="border-top: 0px; margin-left: 4px;">
																<button class="btn btn-flat btn-success"
																	onclick="saveUser()">Save</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_2">
						<div class="row">
							<div class="col-md-12 form-horizontal">
								<div class="card col-md-5 form-horizontal col-md-offset-4">
									<div class="box-body boxbdymt">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="row">
													<div class="col-sm-12">
														<input type="text" class="form-control" id="groupName"
															placeholder="Group Name">
													</div>
												</div>
											</div>
										</div>
										<div class="row" style="margin-bottom: 20px;">
											<div class="col-md-10">
												<div class="row">
													<div class="box-footer pull-left"
														style="border-top: 0px; margin-left: 4px;">
														<button class="btn btn-flat btn-success"
															onclick="addGroup()">Add</button>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-12">
												<div class="row">
													<div class="col-sm-12">
														<select class="form-control" id="groupList" onchange="groupSelected()"></select>
														<input type="text" class="form-control" id="selectedGroupName">
													</div> 
												</div>
											</div>
										</div>
										
										<div class="form-group" id="groupPages" style="margin-left: 0px;"></div>
										<div class="form-group">
											<div class="col-sm-12">
												<table id="valueList" style="width: 100%;"></table>
											</div>
										</div>
										<div class="row" style="margin-bottom: 20px;">
											<div class="col-md-10">
												<div class="row">
													<div class="box-footer pull-left"
														style="border-top: 0px; margin-left: 4px;">
														<button class="btn btn-flat btn-success" onclick="save()">Save</button>
														<button class="btn btn-flat" onclick="deleteGroup()">Delete</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
</div>
<script src="/js/dropdown.js"></script>
<script>
	const pages = [
		'Users', 'Products', 'Employee', 'Company',
		'LOV', 'Mapping', 'Permission',
		'Daily Expanse', 'Daily Expanse Dashboard', 'Payment', 'Payment Receive', 
		'Material Receive', 'Issue Note', 'Departmental Approval'
	];
	let allUsers = [], groupList = [];

	generateList('groupPages', 'groupCheck', pages);
	generateList('userPages', 'userCheck', pages);
	getGroups();
	getUsers();

	function getUsers() {
		$.get('/getUser', (data) => {
		allUsers = data;
		const usernames = data.map(element => element.username);
		setSelectionList('users', usernames, 'Select Users');
	});
	}

	function getGroups() {
		$.get('/api/group', (data) => {
			groupList = data;
			const groups = data.map(element => element.id);
			setSelectionList('groupList', groups, 'Select Group');
			const length = groups.length;
			let string = '';
			groups.forEach((group, index) => {
				string += '<input type="checkbox" id="userGroup'  + index + '" onclick="groupClicked(' + index + ')"> ' + group + '<br>';
			});
			document.getElementById('userGroups').innerHTML = string;

		});
	}

	function groupClicked(index) {
		const pageList = groupList[index].pages;
		const check = document.getElementById('userGroup' + index).checked;
		pageList.forEach(page => {
			const pageIndex = pages.indexOf(page);
			if(pageIndex === -1) return;
			document.getElementById('userCheck' + pageIndex).checked = check;
		});
	}

	function groupSelected() {
		deSelect();
		const selectedGroup = groupList[getSelectedIndex('groupList') - 1];
		document.getElementById('selectedGroupName').value = selectedGroup.id;
		if(selectedGroup.pages) selectedGroup.pages.forEach(page => {
			const index = pages.indexOf(page);
			document.getElementById('groupCheck' + index).checked = true;
		});
	}

	function deSelect() {
		const length = pages.length;
		for(let i = 0; i < length; i++) {
			document.getElementById('groupCheck' + i).checked = false;
			document.getElementById('userCheck' + i).checked = false;
		}
	}

	function generateList(id, checkId, list) {
		let listArea = document.getElementById(id).innerHTML;
		const length = list.length;
		
		for(let i=0; i < length; i++ ) {
			listArea += '<input type="checkbox" id="' + checkId + i + '"> ' + list[i] + '<br>';
		}

		document.getElementById(id).innerHTML = listArea;
	}

	function addGroup() {
		deSelect();
		const groupName = document.getElementById('groupName').value;
		if(groupList.includes(groupName)) {
			alert('Group already exists');
			return;
		}

		$.post('/api/group', {group: groupName}, (res) => {
			if(res.status) getGroups();
		});
	}

	function userSelected() {
		deSelect();
		const index = getSelectedIndex('users') - 1;
		const pageList = allUsers[index].pages;
		pageList.forEach(page => {
			const pageIndex = pages.indexOf(page);
			if(pageIndex === -1) return;
			document.getElementById('userCheck' + pageIndex).checked = true;
		});
	
	}

	function getCheckedPages(id) {
		let checkList = [];
		const length = pages.length
		for (let i = 0; i < length; i++) {
			if (document.getElementById(id + i).checked) checkList.push(pages[i]);
		}
		return checkList;
	}

	function save() {
		const checkList = getCheckedPages('groupCheck');
		const groupName = document.getElementById('groupList').value;
		const newGroupName = document.getElementById('selectedGroupName').value;
		

		$.post('/api/group', {group: groupName, pages: checkList, newName: newGroupName}, (res) => {
			if(res.status) getGroups();
		});
	}

	function deleteGroup() {
		const newGroupName = document.getElementById('selectedGroupName').value;
		$.post('/api/group', {newName: newGroupName}, (res) => {
			if(res.update) getGroups();
		});
	}

	function saveUser() {
		const userIndex = getSelectedIndex('users') - 1;
		if(userIndex < 0) {
			alert('Select User');
			return;
		}

		const checkList = getCheckedPages('userCheck');
		const userId = allUsers[userIndex].id;

		$.post('/api/group', {user: userId, pages: checkList}, (res) => {
			if(res.status) getUsers();
		});

	}
</script>