<style>
	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	.boxbdymt {
		margin-top: 25px;
	}

	.fa_edt {
		font-size: 22px;
		color: rgb(4, 117, 161);
		font-weight: bold;
	}

	.fa_dlt {
		font-size: 22px;
		color: red;
		font-weight: bold;
	}

	.fa_detail {
		font-size: 24px;
		color: rgb(202, 132, 3);
		font-weight: bold;
	}
</style>
<div class="content-wrapper">
	<section class="content-header">
		<h1>Party Payment<small>Settings</small></h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
			<li><a href="#">Party Payment</a></li>
		</ol>
	</section>
	<section class="invoice">
		<div class="row">
			<div class="card col-md-6 form-horizontal col-md-offset-3">
				<div class="box-body boxbdymt">
					<div class="form-group">
						<div class="col-sm-12">
							<select id="company" class="form-control"></select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="number" class="form-control" id="amount" placeholder="Amount" min="0">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" id="receipt" placeholder="Receipt No">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<select id="paymentmethod" class="form-control" onchange="paymentChanged(this)">
								<option selected>Payment in Cash</option>
								<option>Bank</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<select id="bank" class="form-control bank" disabled="true"></select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<select id="brunch" class="form-control bank" disabled="true"></select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control bank" id="checkno" placeholder="Check No"
								disabled="true">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label>Check Date: </label>
							<input class="form-control bank" type="date" id="checkdate" disabled="true">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<textarea placeholder="Narration" id="narration" class="form-control"></textarea>
						</div>
					</div>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-md-10">
							<div class="row">
								<div class="box-footer pull-left" style="border-top: 0px; margin-left: 4px;">
									<button class="btn btn-flat btn-success" onclick="submit()"
										id="saveButton">Save</button>
									<button class="btn btn-flat btn-primary" onclick="submitEdit()" id="submitEdit"
										style="visibility: visible;">Edit</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><br><br><br>
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Payment History</h3>
						<div class="box-tools">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="table_search" class="form-control pull-right"
									placeholder="Search">
								<div class="input-group-btn">
									<button type="submit" class="btn btn-flat btn-success"><i
											class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover" id="dataTable"></table>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="paymentDetails" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Payment Details</h4>
					</div>
					<div class="modal-body">
						<table class="table table-striped"
							style="margin-bottom: 10px;width: 100%;border-collapse: collapse;">
							<tbody>
								<tr>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc;padding:5px;">
										<strong>Supplier Name</strong><br>
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc;padding:5px;">
										<strong>Payment Type</strong><br>
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc;padding:5px;">
										<strong>Amount</strong><br>
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc;padding:5px;">
										<strong>Payment Method</strong><br>
									</td>
									<td style="border-left:1px solid #ccc;border-top:1px solid #ccc; padding:5px;">
										<strong>Bank</strong>
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc;padding:5px;">
										<strong>Branch</strong><br>
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; padding:5px;text-align: right;">
										<strong>Check No</strong>
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc;padding:5px; text-align: left;">
										<strong>Check Type</strong><br>
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc;padding:5px; text-align: left;">
										<strong>Check Date</strong><br>
									</td>
								</tr>
								<tr>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc;padding:5px;">
										-
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc;padding:5px;">
										-
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc;padding:5px;">
										-
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc;padding:5px;">
										-
									</td>
									<td style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:5px;">
										-
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc;padding:5px;">
										-
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:5px; text-align: right;">
										-
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc;padding:5px; text-align: left;">
										-
									</td>
									<td
										style="border-left:1px solid #ccc;border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #ccc;padding:5px; text-align: left;">
										-
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
		<!-- Modal-->
	</section>
	<div class="clearfix"></div>
</div>

<script src="/dependencies/jquery.js"></script>
<script src="/js/dropdown.js"></script>
<script>
	const inputList = ['company', 'amount', 'paymentmethod', 'narration', 'receipt'];
	const bankList = ['bank', 'brunch', 'checkno', 'checkdate'];
	let supplierList = [], paymentList = [];
	let editId;
	getPartyPayments();
	setLovData('tov?type=Bank Name', 'bank', 'Select Bank');
	setLovData('tov?type=Bank Branch Name', 'brunch', 'Select Bank Brunch');

	$.get('/api/companies?type=Supplier', (data) => {
		supplierList = data;
		setSelectionList('company', data.map(element => element.name), 'Select Supplier')
	});

	function getPartyPayments() {
		const table = document.getElementById('dataTable');
		table.innerHTML = '<th>Supplier</th><th>Amount</th><th>Payment Type</th><th>Date</th><th>Actions</th>';
		$.get('/api/payment?paymenttype=Party Payment', (data) => {
			paymentList = data;
			data.forEach((element, index) => {
				const row = table.insertRow();
				row.insertCell().append(element.company);
				row.insertCell().append(element.amount);
				row.insertCell().append(element.paymentmethod);
				row.insertCell().append(element.created.substring(0, 10));
				row.insertCell().innerHTML = '<i class="fa fa-edit fa_edt" onclick="edit(' + index + ')"></i> &nbsp; <i class="fa fa-eye fa_detail" data-toggle="modal" data-target="#paymentDetails"></i> &nbsp;'

			});
		});
	}

	function paymentChanged(element) {
		const banklElements = document.getElementsByClassName('bank');
		for (let i = 0; i < 4; i++) {
			banklElements[i].disabled = element.value != 'Bank';
		}
	}

	function getData() {
		const data = {};
		inputList.forEach(id => data[id] = document.getElementById(id).value);

		if (!data.company) {
			alert('Enter Supplier');
			return null;
		}
		if (!data.amount || data.amount < 0) {
			alert('Enter Valid Amount');
			return null;
		}

		if(data.paymentmethod === 'Bank') {
			bankList.forEach(id => data[id] = document.getElementById(id).value);
		}

		return data;

	}

	function edit(index) {
		editId = paymentList[index].id;
		inputList.forEach(id => document.getElementById(id).value = paymentList[index][id]);
		if (paymentList[index].paymentmethod === 'Bank') {
			bankList.forEach(id => {
				const element = document.getElementById(id);
				element.value = paymentList[index][id];
				if (id === 'checkdate') element.value = paymentList[index][id].substring(0, 10);
				element.disabled = false;
			});
		}
		else bankList.forEach(id => document.getElementById(id).disabled = true);
	}

	function submit() {
		const data = getData();
		data['created'] = moment().format('YYYY-MM-DD');
		data['paymenttype'] = 'Party Payment';

		$.post('/api/payment', data, (res) => {
			if (res.update) getPartyPayments();
		});
	}

	function submitEdit() {
		const data = getData();
		$.post('/api/payment', { data: data, id: editId }, (res) => {
			if (res.update) {
				getPartyPayments();
				editId = null;
			}
		});
	}
</script>