<div class="content-wrapper">
	<section class="content-header">
		<h1>User<small>Settings</small></h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Master Settings</a></li>
			<li class="active">user</li>
		</ol>
	</section>
	<section class="invoice">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="page-header"><i class="fa fa-globe"></i>Products<small class="pull-right">Date: 2/10/2019</small></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 form-horizontal">
				<div class="box-body">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Product</label>
						<div class="col-sm-10"><input type="text" class="form-control" id="name" placeholder="Product"></div>
                    </div>
                    <div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Unit</label>
						<div class="col-sm-10"><input type="text" class="form-control" id="unit" placeholder="Unit"></div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Price</label>
						<div class="col-sm-10"><input type="number" class="form-control" id="price" placeholder="Price per Unit"></div>
                    </div>
                    <div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Quantity</label>
						<div class="col-sm-10"><input type="number" class="form-control" id="quantity" placeholder="Quantity in Stock"></div>
					</div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="box-footer pull-right" style="border-top: 0px">
					<button class="btn btn-info" onclick="submit()">New User</button>
					<button class="btn btn-default" onclick="edit()" disabled id="submitEdit">Edit User</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">User Details</h3>
						<div class="box-tools">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="table_search" class="form-control pull-right"
									placeholder="Search">
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tbody id="usertable"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
</div>

<script src="/dependencies/jquery.js"></script>
<script src="/js/dropdown.js"></script>
<script>
	getProducts();

	const inputList = ['name', 'quantity', 'price', 'unit'];
	//const selectList = ['department', 'designation'];
	let productList;
	let selectedProductId

	function getProducts() {
		let listData = `<tr><th>Product</th><th>Price</th><th>Quantity</th><th>Unit</th></tr>`;
		$.get('/api/products', (data) => {
			data.forEach((element, index) => {
				listData += '<tr><td>' + element.name + '</td><td>' + element.price + '</td>';
				listData += '<td>' + element.quantity + '</td><td>' + element.unit + '</td>';
				listData += '<td><button class="label label-primary" onclick="editEntry(' + index + ')">Edit</button><button class="label label-danger" onclick="deleteEntry(' + index + ')">Delete</button></td></tr>';
			});
			document.getElementById('usertable').innerHTML = listData;
			productList = data;
		});
	}

	function logout() {
		localStorage.removeItem('token');
		window.open('/login', '_self');
	}

	function editEntry(index) {
		document.getElementById('submitEdit').disabled = false;

		inputList.forEach(element => document.getElementById(element).value = productList[index][element]);
		selectedProductId = productList[index].id;
	}

	function getInputData() {
		data = {};
		const length = inputList.length;
		let success = true;

		for (let i = 0; i < length; i++) {
			const currentValue = document.getElementById(inputList[i]).value;
			if (!currentValue) {
				success = false;
				alert('Enter value for ' + inputList[i]);
				break;
			}
			data[inputList[i]] = currentValue;
		}

		if (!success) return false;

		return data;
	}

	function setNull() {
		inputList.forEach(element => document.getElementById(element).value = null);
	}

	function deleteEntry(index) {
		$.ajax({
			url: '/deleteUser', method: 'DELETE', data: { userid: productList[index].id }, success: res => {
				if (res.update) {
					getProducts();
					selectedUserId = null;
				}
			}
		});
	}

	function edit() {
		let data = getInputData();
		if (!data) return;
		data.id = selectedProductId;

		$.ajax({
			url: '/api/products', method: 'PUT', data: data, success: res => {
				if (res.update) {
					getProducts();
					selectedProductId = null;
					setNull();
				}
				else alert(res.message);
			}
		});
	}

	function submit() {
		let data = getInputData();
		if (!data) return;

		$.post('/api/products', data, (res) => {
			if (!res.success) alert('Something is wrong');
			else getProducts();
		});
	}
</script>