<html>
<head><title>Sign In</title></head>
<body>
    <div class="inputs">
        Username: <input type="text" id="username" placeholder="Enter usernmae"><br>
        Password: <input type="password" id="pass" placeholder="Enter password"><br>
    </div>
    <p id="status"></p>
    <div class="buttons">   
        <input type="button" value="Login" onclick="login()"> <input type="button" value="Register" onclick="register()">
    </div>
</body>

<script src="/js/jquery.js"></script>
<script>

const token = localStorage.getItem('token');
if(token){
    $.post('/check', {token: token}, (user) => {
        if(user) {
            opendDashBoard();
        }
    });
}

function login(){
    const data = getData();
    $.post('/login', data, (result) => {
        if(result.match){
            document.getElementById('status').innerHTML='Maatch Found';
            storeToken(result.token);
            opendDashBoard();
        }
        else{
            document.getElementById('status').innerHTML='Not Found';
        }
    });
}

function register(){
    console.log('register');
    const data = getData();

    $.post('/signup', data, (accept) => {
        if (accept.unique){
            document.getElementById('status').innerHTML='Success';
            //storeToken(accept.token);
            opendDashBoard();
        }
        else document.getElementById('status').innerHTML='Duplicate';
    });
}

function storeToken(token){
    localStorage.setItem('token', token);
}

function getData(){
    return {
        username: document.getElementById('username').value,
        password: document.getElementById('pass').value
    };
}

function opendDashBoard(){
    window.open('/dashboard', '_self');
}
</script>
</html>