
        <div class="content-wrapper">
            <section class="content-header">
                <h1>Dashboard<small>Control panel</small></h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
					<p style="margin:12px">New Entry: <input type="text" id="newType"><button onclick="newEntry()">Create</button></p><br>
					<span id="allData"></span>
                </div>
            </section>
        </div>
        <div class="control-sidebar-bg"></div>
    </div>
</body>
<script src="/dependencies/jquery.js"></script>
<script>
    const token = localStorage.getItem('token');
    $.post('/tokendata', {token: token}, (data) => {
        document.getElementById('username').innerHTML = data.user.username;
    });
	let allData = [];
	getValue();
	
	function getValue() {
		$.get('/tov', (data) => {
			allData = data;
			data.forEach((element, i) => createEntry(element.id, element.values, i));
		});
	}

	function newEntry() {
		const title = dataFromInput('newType');
		if(title) {
			$.post('/TOV', {id: title}, (res) => {
				if(res) createEntry(title, [], allData.length);
			})
		}
	}

	function createEntry(title, values, serial) {
		if(!values) values = [];
		let string = document.getElementById('allData').innerHTML;
		string += '<p>' + title + ' <input type="text" id="values'+serial+'" value="'+ values.join()+'" size="70">';
		string += ' <button onclick="edit('+serial+')">Edit</button></p>';
		document.getElementById('allData').innerHTML = string;
		allData.push({id: title, values: values});
	}

	function edit(index) {
		const data = dataFromInput('values' + index).split(',').map(element => element.trim());
		const title = allData[index].id
		
		$.ajax({
			url: '/addunit', method: 'PUT', data: {type: title, values: data}, success: res => {
				if(res) console.log('done');
			}
		});
	}

	function postValue() {
		const data = document.getElementById('newValue').value;
		$.post('/addunit', {newValue: data}, (res) => {
			if(res) getValue();
		});
	}

	function dataFromInput(id) {
		return document.getElementById(id).value;
	}
</script>
