<style>
	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	.boxbdymt {
		margin-top: 25px;
	}
</style>
<div class="content-wrapper">
	<section class="content-header">
		<h1>LOV<small>Settings</small></h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Common Settings</a></li>
			<li class="active">LOV</li>
		</ol>
	</section>
	<section class="invoice">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="page-header">List of Value<small class="pull-right">
						<script>
							var d = new Date();
							document.write(d.toLocaleString());
						</script>
					</small>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="card col-md-6 form-horizontal col-md-offset-3">
				<div class="box-body boxbdymt">
					<div class="form-group">
						<!-- <label for="New LOV" class="col-sm-2 control-label">New LOV</label> -->
						<div class="col-sm-12">
							<input type="text" class="form-control" id="newType" placeholder="New LOV">
						</div>
					</div>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-md-10">
							<div class="row">
								<div class="box-footer pull-left" style="border-top: 0px; margin-left: 4px;">
									<button class="btn btn-flat btn-success" onclick="newEntry()">New</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card col-md-6 form-horizontal col-md-offset-3">
				<div class="box-body boxbdymt">
					<div class="form-group">
						<!-- <label for="New LOV" class="col-sm-2 control-label">Select LOV Type</label> -->
						<div class="col-sm-12">
							<select class="form-control" id="valueTypes" onchange="typeSelected(this)">
								<option hidden disabled selected value> Select Type </option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<!-- <label for="New LOV" class="col-sm-2 control-label">Type Name</label> -->
						<div class="col-sm-12">
							<input type="text" id="typeName" class="form-control" placeholder="Type Name">
						</div>
					</div>
					<div class="form-group">
						<!-- <label for="New LOV" class="col-sm-2 control-label">Edit LOV Type</label> -->
						<div class="col-sm-12" id="valueList">
							<input class="form-control" type="text" id="values" placeholder="Edit LOV Type">
						</div>
					</div>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-md-10">
							<div class="row">
								<div class="box-footer pull-left" style="border-top: 0px; margin-left: 4px;">
									<button class="btn btn-flat btn-success" onclick="add()">Add</button>
									<button class="btn btn-primary btn-flat" onclick="edit()">Save</button>
									<button class="btn btn-default btn-flat" onclick="deleteType()">Delete</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
</div>
<div class="control-sidebar-bg"></div>
<script src="/dependencies/jquery.js"></script>
<script>
	let allData = [];
	let selectedIndex;
	let selected = false;
	getValue();

	function getValue() {
		$.get('/tov', (data) => data.forEach(createEntry));
	}

	function newEntry() {
		const title = dataFromInput('newType');
		if (title) {
			$.post('/TOV', { id: title, displayname: title }, (res) => {
				if (res) createEntry({ id: title, displayname: title, values: [] });
			})
		}
	}

	function createEntry(element) {
		let string = document.getElementById('valueTypes').innerHTML;
		string += '<option>' + element.displayname + ' </option>';
		document.getElementById('valueTypes').innerHTML = string;
		allData.push({ id: element.id, displayname: element.displayname, values: element.values });
	}

	function typeSelected(element) {
		selected = true;
		selectedIndex = element.selectedIndex - 1;
		document.getElementById('typeName').value = allData[selectedIndex].displayname;
		currentTitle = element.options[selectedIndex + 1].text;
		drawList(allData[selectedIndex].values);
	}

	function drawList(list) {
		if (!list) list = [];
		let string = '';
		list.forEach((element, index) => {
			string += '<input class="form-control" type="text" id="listItem' + index + '" size="60" value="' + element + '">'
			string += '<button onclick=remove(' + index + ')>Remove</button>'
		});
		document.getElementById('valueList').innerHTML = string;
	}

	function remove(index) {
		if (allData[selectedIndex].values.length <= index) return;

		allData[selectedIndex].values.splice(index, 1);
		drawList(allData[selectedIndex].values);
	}

	function add() {
		let index = 0;
		while (true) {
			if (!document.getElementById('listItem' + index)) break;
			index++;
		}
		$('#valueList').append('<input type="text" size="60" class="form-control" id="listItem' + index + '"><br>');
	}

	function edit() {
		if (!selected) return;
		const data = [];
		let index = 0;
		while (true) {
			const currentInput = document.getElementById('listItem' + index);
			if (!currentInput) break;
			index++;
			data.push(currentInput.value);
		}
		const title = allData[selectedIndex].displayname;
		const newTitle = document.getElementById('typeName').value;
		const sendData = { type: title, values: data };
		if (title != newTitle) sendData['newType'] = newTitle;

		$.ajax({
			url: '/addunit', method: 'PUT', data: sendData, success: res => {
				if (res) allData[selectedIndex].values = data;
			}
		});
	}

	function deleteType() {
		if (!selected) return;
		const id = allData[selectedIndex].id;

		$.ajax({
			url: '/api/deleteTov', method: 'DELETE', data: { id: id }, success: res => {
				if (res) {
					document.getElementById('valueTypes').innerHTML = '<option hidden disabled selected value> Select Type </option>';
					getValue();
				}
			}
		});
	}

	function dataFromInput(id) {
		return document.getElementById(id).value;
	}

	function print(message) {
		console.log(message);
	}
</script>