<div class="content-wrapper">
	<section class="content-header">
		<h1>LOV<small>Settings</small></h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Common Settings</a></li>
			<li class="active">LOV</li>
		</ol>
	</section>
	<section class="invoice">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="page-header"><i class="fa fa-globe"></i> List of Value<small class="pull-right">Date: 2/10/2019</small></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 form-horizontal">
				<div class="box-body">
					<div class="form-group form-inline">
						<label for="New LOV" class="col-sm-2 control-label">New LOV</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="newType" placeholder="New LOV">
							<button class="btn btn-primary btn-flat" onclick="newEntry()">New Lov</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="box">
				<div class="col-md-6 form-horizontal">
					<div class="box-body">
						<div class="form-group">
							<label for="New LOV" class="col-sm-2 control-label">Select LOV Type</label>
							<div class="col-sm-10">
								<select class="form-control" id="valueTypes" onchange="typeSelected(this)">
									<option hidden disabled selected value> Select Type </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="New LOV" class="col-sm-2 control-label">Type Name</label>
							<div class="col-sm-10">
								<input type="text" id="typeName" class="form-control" size="40">
							</div>
						</div>
						<div class="form-group form-inline">
							<label for="New LOV" class="col-sm-2 control-label">Edit LOV Type</label>
							<div class="col-sm-10" id="valueList">
								<input class="form-control" type="text" id="values" size="60">
							</div>
							<div class="col-sm-10">
								<button class="btn btn-primary btn-flat" onclick="add()">Add</button>
								<button class="btn btn-primary btn-flat" onclick="edit()">Edit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
</div>
<div class="control-sidebar-bg"></div>
<script src="/dependencies/jquery.js"></script>
<script>
	let allData = [];
	let selectedIndex;
	let selected = false;
	getValue();

	function getValue() {
		$.get('/tov', (data) => data.forEach(createEntry));
	}

	function newEntry() {
		const title = dataFromInput('newType');
		if (title) {
			$.post('/TOV', { id: title }, (res) => {
				if (res) createEntry({ id: title, values: [] });
			})
		}
	}

	function createEntry(element) {
		let string = document.getElementById('valueTypes').innerHTML;
		string += '<option>' + element.id + ' </option>';
		document.getElementById('valueTypes').innerHTML = string;
		allData.push({ id: element.id, values: element.values });
	}

	function typeSelected(element) {
		selected = true;
		selectedIndex = element.selectedIndex - 1;
		//document.getElementById('values').value = allData[selectedIndex].values;
		document.getElementById('typeName').value = allData[selectedIndex].id;
		currentTitle = element.options[selectedIndex + 1].text;
		//id: valueList
		drawList(allData[selectedIndex].values);
	}

	function drawList(list) {
		let string = '';
		list.forEach((element, index) => {
			string += '<input class="form-control" type="text" id="listItem' + index + '" size="60" value="' + element + '">'
			string += '<button onclick=remove(' + index + ')>Remove</button>'
		});
		document.getElementById('valueList').innerHTML = string;
	}

	function remove(index) {
		if(allData[selectedIndex].values.length <= index) return;

		allData[selectedIndex].values.splice(index, 1);
		drawList(allData[selectedIndex].values);
	}

	function add() {
		let index = 0;
		while(true) {
			if(!document.getElementById('listItem' + index)) break;
			index++;
		}
		$('#valueList').append('<input type="text" size="60" class="form-control" id="listItem' + index + '"><br>');
	}

	function edit() {
		if (!selected) return;
		//const data = dataFromInput('values').split(',').map(element => element.trim());
		const data = [];
		let index = 0;
		while(true) {
			const currentInput = document.getElementById('listItem' + index);
			if(!currentInput) break;
			index++;
			data.push(currentInput.value);
		}
		const title = allData[selectedIndex].id;
		const newTitle = document.getElementById('typeName').value;
		const sendData = { type: title, values: data };
		if(title != newTitle) sendData['newType'] = newTitle;

		$.ajax({
			url: '/addunit', method: 'PUT', data: sendData, success: res => {
				if (res) allData[selectedIndex].values = data;
			}
		});
	}

	function postValue() {
		const data = document.getElementById('newValue').value;
		$.post('/addunit', { newValue: data }, (res) => {
			if (res) getValue();
		});
	}

	function dataFromInput(id) {
		return document.getElementById(id).value;
	}

	function print(message) {
		console.log(message);
	}
</script>