<div class="content-wrapper">
	<section class="content-header">
		<h1>
			User
			<small>Settings</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Master Settings</a></li>
			<li class="active">user</li>
		</ol>
	</section>
	<section class="invoice">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="page-header">
					<i class="fa fa-globe"></i> User
					<small class="pull-right">Date: 2/10/2019</small>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 form-horizontal">
				<div class="box-body">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Username</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="username" placeholder="Username">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Re type password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="pass2" placeholder="Confirm Password">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Role</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="access" placeholder="Role">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="box-footer pull-right" style="border-top: 0px">
					<button class="btn btn-info" onclick="submit()">New User</button>
					<button class="btn btn-default" onclick="edit()" disabled id="submitEdit">Edit User</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">User Details</h3>

						<div class="box-tools">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="table_search" class="form-control pull-right"
									placeholder="Search">

								<div class="input-group-btn">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div>
					
					<!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tbody>
								<tr>
									<th>ID</th>
									<th>User Name</th>
									<th>User Creation Date</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
								<tr>
									<td>1</td>
									<td id="userlist"></td>
									<td>11-7-2014</td>
									<td><span class="label label-success">Approved</span></td>
									<td><i class="fa fa-edit 4x"></i> <i class="fa fa-trash"></i></td>
								</tr>
								<tr>
									<td>2</td>
									<td>Alexander Pierce</td>
									<td>11-7-2014</td>
									<td><span class="label label-warning">Pending</span></td>
									<td><i class="fa fa-edit 4x"></i> <i class="fa fa-trash"></i></td>
								</tr>
								<tr>
									<td>3</td>
									<td>Bob Doe</td>
									<td>11-7-2014</td>
									<td><span class="label label-primary">Approved</span></td>
									<td><i class="fa fa-edit 4x"></i> <i class="fa fa-trash"></i></td>
								</tr>
								<tr>
									<td>4</td>
									<td>Mike Doe</td>
									<td>11-7-2014</td>
									<td><span class="label label-danger">Denied</span></td>
									<td><i class="fa fa-edit 4x"></i> <i class="fa fa-trash"></i></td>
								</tr>
								<tr>
									<td colspan="5">
										<ul >
											<li>Random data 1</li>
											<li>Random data 2</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
</div>

<div class="control-sidebar-bg"></div>
<script src="/dependencies/jquery.js"></script>
<script>
	getUser();
	const datalist = ['username', 'password', 'access'];
	let userList = [];
	let selectedUserId;

	function submit() {
		const data = getInputData();

		if (!data) return;

		$.post('/register', data, (res) => {
			if (!res.unique) alert('Username already exists');
			else getUser();
		});
	}

	function getUser() {
		let listData = '';
		$.get('/getUser', (data) => {
			data.forEach((element, index) => {
				const dataString = 'Username: ' + element.username + ' || Acess Level: ' + element.access;
				listData += dataString + ' <button class="label label-primary" onclick="editEntry(' + index + ')">Edit</button>&nbsp;||&nbsp;<button class="label label-danger" onclick="deleteEntry(' + index + ')">Delete</button>';
			});
			document.getElementById('userlist').innerHTML = listData;
			userList = data;
		});
	}

	function logout() {
		localStorage.removeItem('token');
		window.open('/login', '_self');
	}

	function editEntry(index) {
		document.getElementById('submitEdit').disabled = false;

		datalist.forEach(element => {
			document.getElementById(element).value = userList[index][element]
		});
		document.getElementById('pass2').value = userList[index].password;
		selectedUserId = userList[index].id;
	}

	function deleteEntry(index) {
		$.ajax({
			url: '/deleteUser', method: 'DELETE', data: { userid: userList[index].id }, success: res => {
				if (res.update) getUser();
			}
		});
	}


	function getInputData() {
		data = {};
		const length = 3;
		let success = true;

		for (let i = 0; i < length; i++) {
			const currentValue = document.getElementById(datalist[i]).value;
			console.log(datalist[i]);
			//console.log(datalist[i]);
			//console.log(datalist[i]);
			if (!currentValue) {
				success = false;
				alert('Enter value for ' + datalist[i]);
				break;
			}
			data[datalist[i]] = currentValue;
		}

		if (!success) return false;

		if (data.password != document.getElementById('pass2').value) {
			alert('Password mismatch');
			return false;
		}

		return data;
	}

	function edit() {
		const data = getInputData();
		if (!data) return;

		data.userid = selectedUserId;

		$.ajax({
			url: '/editUser', method: 'PUT', data: data, success: res => {
				if (res.update) getUser();
				else alert(res.message);
			}
		});
	}
</script>