<style>
	.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}
</style>
<div class="content-wrapper">
	<section class="content-header">
		<h1>User<small>Settings</small></h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Master Settings</a></li>
			<li class="active">user</li>
		</ol>
	</section>
	<section class="invoice">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="page-header"><i class="fa fa-globe"></i>User<small class="pull-right">Date: 2/10/2019</small>
				</h2>
			</div>
		</div>

		<div class="row">
			<div class="card col-md-6 form-horizontal col-md-offset-3">
				<div class="box-body">
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Username</label> -->
						<div class="col-sm-12"><input type="text" class="form-control" id="username"
								placeholder="Username"></div>
					</div>
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Password</label> -->
						<div class="col-sm-12"><input type="password" class="form-control" id="password"
								placeholder="Password"></div>
					</div>
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Re type password</label> -->
						<div class="col-sm-12"><input type="password" class="form-control" id="pass2"
								placeholder="Confirm Password"></div>
					</div>
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Role</label> -->
						<div class="col-sm-12"><input type="number" class="form-control" id="access" placeholder="Role">
						</div>
					</div>
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Full Name</label> -->
						<div class="col-sm-12"><input type="text" class="form-control" id="displayname"
								placeholder="Full ame"></div>
					</div>
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Email</label> -->
						<div class="col-sm-12"><input type="text" class="form-control" id="email" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Phone</label> -->
						<div class="col-sm-12">
							<input type="text" class="form-control" id="phone" placeholder="Phone">
						</div>
					</div>
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Department</label> -->
						<div class="col-sm-12">
							<select id="department" class="form-control">
								<option hidden disabled selected value>Select Department</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Designation</label> -->
						<div class="col-sm-12">
							<select id="designation" class="form-control">
								<option hidden disabled selected value>Select Designation</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<!-- <label for="inputEmail3" class="col-sm-2 control-label">Designation</label> -->
						<div class="col-sm-12">
							<select id="designation" class="form-control">
								<option hidden disabled selected value>Select Designation</option>
							</select>
						</div>
					</div>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-md-10">
							<div class="row">
								<div class="box-footer pull-left" style="border-top: 0px; margin-left: 4px;">
									<button class="btn btn-flat btn-success" onclick="submit()">New User</button>
									<button class="btn btn-flat btn-primary" onclick="edit()" disabled
										id="submitEdit">Edit User</button>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="box-footer pull-left" style="border-top: 0px">
						<button class="btn btn-flat btn-success" onclick="submit()">New User</button>
						<button class="btn btn-flat btn-primary" onclick="edit()" disabled id="submitEdit">Edit
							User</button>
					</div> -->
				</div>
			</div>
		</div><br><br><br>


		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">User Details</h3>
						<div class="box-tools">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="table_search" class="form-control pull-right"
									placeholder="Search">
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tbody id="usertable"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
</div>

<!-- <div class="control-sidebar-bg"></div> -->
<script src="/dependencies/jquery.js"></script>
<script>
	getUser();
	getDepartments();
	getDesignations();

	const inputList = ['username', 'password', 'access', 'displayname', 'email', 'phone'];
	const selectList = ['department', 'designation'];
	let userList = [];
	let selectedUserId;

	function getUser() {
		let listData = `<tr><th>User Name</th><th>Access</th><th>Department</th><th>Designation</th>
			<th>Email</th><th>Phone</th><th>Action</th></tr>`;
		$.get('/getUser', (data) => {
			data.forEach((element, index) => {
				listData += '<tr><td>' + element.username + '</td><td>' + element.access + '</td>'
				listData += '<td>' + element.department + '</td><td>' + element.designation + '</td>'
				listData += '<td>' + element.email + '</td><td>' + element.phone + '</td>'
				listData += '<td><button class="label label-primary" onclick="editEntry(' + index + ')">Edit</button><button class="label label-danger" onclick="deleteEntry(' + index + ')">Delete</button></td></tr>';
			});
			document.getElementById('usertable').innerHTML = listData;
			userList = data;
		});
	}

	function getDepartments() {
		$.get('tov?type=departments', data => setSelectionList('department', data[0].values));
	}

	function getDesignations() {
		$.get('tov?type=designations', data => setSelectionList('designation', data[0].values));
	}

	function setSelectionList(id, list) {
		let string = document.getElementById(id).innerHTML;
		list.forEach(element => string += '<option>' + element + '</option>');
		document.getElementById(id).innerHTML = string;
	}

	function getSelectedValues(data) {
		selectList.forEach(element => {
			const selector = document.getElementById(element);
			data[element] = selector.options[selector.selectedIndex].text;
		});
		return data;
	}

	function setSelectedValue(id, value) {
		const selection = document.getElementById(id);
		const options = selection.options;
		const length = options.length;

		for (let i = 0; i < length; i++) {
			if (options[i].innerHTML === value) {
				selection.selectedIndex = i;
				break;
			}
		}
	}

	function logout() {
		localStorage.removeItem('token');
		window.open('/login', '_self');
	}

	function editEntry(index) {
		document.getElementById('submitEdit').disabled = false;

		inputList.forEach(element => document.getElementById(element).value = userList[index][element]);
		selectList.forEach(element => setSelectedValue(element, userList[index][element]));
		document.getElementById('pass2').value = userList[index].password;
		selectedUserId = userList[index].id;
	}

	function getInputData() {
		data = {};
		const length = inputList.length;
		let success = true;

		for (let i = 0; i < length; i++) {
			const currentValue = document.getElementById(inputList[i]).value;
			if (!currentValue) {
				success = false;
				alert('Enter value for ' + inputList[i]);
				break;
			}
			data[inputList[i]] = currentValue;
		}

		if (!success) return false;

		if (data.password != document.getElementById('pass2').value) {
			alert('Password mismatch');
			return false;
		}

		return data;
	}

	function setNull() {
		inputList.forEach(element => document.getElementById(element).value = null);
		document.getElementById('pass2').value = null;
	}

	function deleteEntry(index) {
		$.ajax({
			url: '/deleteUser', method: 'DELETE', data: { userid: userList[index].id }, success: res => {
				if (res.update) {
					getUser();
					selectedUserId = null;
				}
			}
		});
	}

	function edit() {
		let data = getInputData();
		if (!data) return;
		data = getSelectedValues(data);
		data.userid = selectedUserId;

		$.ajax({
			url: '/editUser', method: 'PUT', data: data, success: res => {
				if (res.update) {
					getUser();
					selectedUserId = null;
					setNull();
				}
				else alert(res.message);
			}
		});
	}

	function submit() {
		let data = getInputData();
		if (!data) return;
		data = getSelectedValues(data);

		$.post('/register', data, (res) => {
			if (!res.unique) alert('Username already exists');
			else getUser();
		});
	}
</script>